<h1>レビューを投稿する</h1>
<% if @review.errors.any? %>
  <div>
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: [@salon, @review], local: true do |f| %>
  <div>
    <%= f.label :comment, "コメント" %>
    <%= f.text_field :comment %>
  </div>
  <div>
    <%= f.submit "投稿" %>
  </div>
<% end %>
