<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1>
          <%= link_to "Barbar Guide", root_path, {class: "title-link"} %>
        </h1>
        <nav class="pc-nav">
          <ul>
            <li><%= link_to "salons", salons_path %></li>
            <li><%= render 'shared/login_button' %><%= render 'shared/logout_button' %></li>
            <li><%= render "shared/signup_button"%></li>
          </ul>
        </nav>
      </div>
    </header>

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
